#intro #introWrap #lion{
    animation-name:spinLion;
    animation-duration:1500s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
@keyframes spinLion{
    from{transform:rotate(-10deg);}
    to{transform:rotate(10deg);}
}
