/********************
*** Default ***
*******************/

/* <html>, <body>, <hn>, <p> 태그는 margin과 padding 속성이 기본값으로 적용된 상태이므로 속성값을 0으로 초기화하는 작업을 해야 함 */
/* <html>, <body>, <hn>, <p> 태그 안에 있는 margin과 padding 속성을 초기화 */
html, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* 콘텐츠를 브라우저 창 밖에 배치하면 브라우저에 가로 스크롤이 생기기 때문에,
    브라우저 영역을 벗어난 콘텐츠를 감추고 가로 스크롤도 나타나지 않게 하려면 <body> 태그에 overflow-x: hidden;을 꼭 입력해야 함. */
/* 브라우저 x축을 벗어나는 모든 요소를 감추기 위해 overflow-x: hidden을 적용 */
body {
    overflow-x:hidden; /* 브라우저 창의 너비를 벗어나는 모든 콘텐츠 감춤 */
}

/* <button> 태그의 CSS 기본 속성값은 검은색 테두리와 회색 배경이므로,
     테두리를 제거하는 border: none;과 배경색을 투명하게 하는 background-color: transparent;을 적용 */
/* <button> 태그의 CSS 속성을 초기화 */
button {
    border: none;
    background-color: transparent;
}

/********************
*** Intro ***
*******************/
#intro{
    width:100%;
    height:1600px;  /* intro_bg.png의 높이가 1600px임 */
    background-image:url(./img/intro/intro_bg.png);
}

#intro #introWrap{
    /* 1. x축 중앙 정렬 작업을 할 때 사용되는 left 속성을 사용하기 위해
       2. 로고와 동물 이미지를 안전하게 배치하기 위해 (로고와 동물 이미지에 absolute 속성을 사용하려면 부모에 relative 속성값을 입력하는 것이 좋음)
       position:relative 속성 사용 */
    position:relative;  /*introWrap 서랍장을 2차원과 3차원 특징으로 변경 */

    /* logo.png의 width와 height 사용 */
    width:760px;
    height:516px;

    /* x축 중앙 정렬 */
    left:50%;   /*introWrap 서랍장 왼쪽면이 50% 지점으로 이동 */
    margin-left:-380px; /* introWrap 서랍장의 width:760px의 절반 값인 380px을 음수로 적용 (왼쪽으로 380px 이동) */
    
    /* introWrap 서랍장을 아래로 내림 */
    top:100px;  /* 마진 병합이 일어나지 않도록 하되, 다른 콘텐츠의 위치에도 영향을 끼치지 않으면서, introWrap 서랍장만 아래로 옮길 수 있음 */
                /* top 속성은 3차원 특징을 가진 position의 속성값인 relative, absolute, fixed에서만 사용 가능 */
        /* margin-top 속성을 사용하면 마진 병합 현상이 발생하여, intro의 배경이 아닌, 흰색 배경이 보이게 됨 */
        /* padding-top 속성을 사용하면 introWrap 서랍장이 아래로 내려오긴 하지만, intro 공간의 높이가 1600px + 100px = 1700px로 바뀜 */
}

/* 로고와 동물 이미지는 absolute 속성값을 사용하여 z-index 속성 적용 예정 */
/* absolute 속성을 안전하게 사용하려면 부모에 relative 속성값을 입력하는 것이 좋음 */
#intro #introWrap #logo{
    position:absolute;
    width:760px;
    height:516px;
    background-image:url(./img/intro/logo.png);
    z-index:100;
}
#intro #introWrap #lion{
    position:absolute;
    width:161px;
    height:161px;
    background-image:url(./img/intro/lion.png);
    margin:80px 0px 0px 30px;
}
#intro #introWrap #rabbit{
    position:absolute;
    width:105px;
    height:129px;
    background-image:url(./img/intro/rabbit.png);
    margin:90px 0px 0px 580px;
}
#intro #introWrap #bear{
    position:absolute;
    width:112px;
    height:105px;
    background-image:url(./img/intro/bear.png);
    margin:310px 0px 0px 560px;
    z-index:200;
}
#intro #introWrap #monkey{
    position:absolute;
    width:85px;
    height:93px;
    background-image:url(./img/intro/monkey.png);
    margin:310px 0px 0px 50px;
    z-index:200;
}

#intro #cloudWap{
    position:relative;
    width:100%;
    height:1050px;
}
#intro #cloudWrap #cloud1{  /* 왼쪽 끝 정렬 방법 : absolute, left:0 */
    position:absolute;
    width:934px;
    height:816px;
    background-image:url(./img/intro/cloud1.png);
    left:0;
    z-index:2;
}
#intro #cloudWrap #cloud2{  /* 오른쪽 끝 정렬 방법 : absolute, right:0 */
    position:absolute;
    width:843px;
    height:858px;
    background-image:url(./img/intro/cloud2.png);
    right:0;
    z-index:1;
}
#intro #cloudWrap #dragonfly{
    position:absolute;
    width:366px;
    height:228px;
    background-image:url(./img/intro/dragonfly.png);
    top:1330px;
}

/********************
*** Farm ***
*******************/
#farm #farm1{
    position:relative;
    width:100%;
    height:800px;
    background-image:url(./img/farm/farm1/farm1_bg.png);
}
#farm #farm1 #leftrice1{
    position:absolute;
    width:390px;
    height:670px;
    background-image:url(./img/farm/farm1/leftrice.png);
    left:0;
}
#farm #farm1 #farmer{
    position:absolute;
    width:747px;
    height:1078px;
    background-image:url(./img/farm/farm1/farmer.png);
    left:50%;
    margin-left:-310px;
}
#farm #farm1 #rightrice1{
    position:absolute;
    width:335px;
    height:570px;
    background-image:url(./img/farm/farm1/rightrice.png);
    right:0;
    margin-top:100px;
}
#farm #farm1 #farmspeechWrap{
    position:relative;
    top:250px;
    left:150px;
    color:#895C2F;
    font-size:18px;
    line-height:27px;
}

#farm #farm2{
    position:relative;
    width:100%;
    height:850px;
    background-image:url(./img/farm/farm2/farm2_bg.png);
}
#farm #farm2 #leftrice2{
    position:absolute;
    width:250px;
    height:850px;
    background-image:url(./img/farm/farm2/leftrice2.png);
    left:0;
}
#farm #farm2 #scarecrow{
    position:absolute;
    width:103px;
    height:206px;
    background-image:url(./img/farm/farm2/scarecrow.png);
    margin:200px 0px 0px 300px;
}
#farm #farm2 #rightrice2{
    position:absolute;
    width:236px;
    height:850px;
    background-image:url(./img/farm/farm2/rightrice2.png);
    right:0px;
}

#farm #farm3{
    position:relative;
    width:100%;
    height:850px;
    background-image:url(./img/farm/farm3/farm3_bg.png);
}
#farm #farm3 #window{
    position:absolute;
    width:247px;
    height:169px;
    background-image:url(./img/farm/farm3/window.png);
    margin:100px 0px 0px 100px;
}
#farm #farm3 #machineWrap{
    position:relative;
    width:600px;
    height:455px;
    top:150px;
    left:50%;
    margin-left:-285px;
}
#farm #farm3 #machineWrap #machine1{
    position:absolute;
    width:586px;
    height:455px;
    background-image:url(./img/farm/farm3/machine1.png);
    z-index:900;
}
#farm #farm3 #machineWrap #sawshadow{
    position:absolute;
    width:95px;
    height:95px;
    background-image:url(./img/farm/farm3/sawshadow.png);
    margin:145px 0px 0px 145px;
}
#farm #farm3 #machineWrap #saw1, #saw2{
    position:absolute;
    width:95px;
    height:95px;
    background-image:url(./img/farm/farm3/saw.png);
}
#farm #farm3 #machineWrap #saw1{
    margin:140px 0px 0px 140px;
}
#farm #farm3 #machineWrap #saw2{
    margin:140px 0px 0px 350px;
}
#farm #farm3 #machineWrap #second{
    position:absolute;
    width:103px;
    height:104px;
    background-image:url(./img/farm/farm3/second.png);
    margin:125px 0px 0px 45px;
    z-index:999;
}
#farm #farm3 #machineWrap #machinebird{
    position:absolute;
    width:44px;
    height:49px;
    background-image:url(./img/farm/farm3/machinebird.png);
    margin:220px 0px 0px 20px;
    z-index:999;
}
#farm #farm3 img{
    position:relative;
    float:right;
    top:-100px;
    margin-right:80px;
}

/********************
*** Forest ***
*******************/
#forest #forest1{
    position:relative;
    width:100%;
    height:1050px;
    background-image:url(./img/forest/forest1/forest1_bg.png);
}
#forest #forest1 #lefttree{
    position:absolute;
    width:332px;
    height:990px;
    background-image:url(./img/forest/forest1/lefttree.png);
    left:0;
}
#forest #forest1 #treeWrap{
    position:relative;
    width:304px;
    height:572px;
    top:100px;
    float:right;
}
#forest #forest1 #treeWrap #righttree{
    position:absolute;
    width:304px;
    height:572px;
    background-image:url(./img/forest/forest1/righttree.png);
    z-index:100;
}
#forest #forest1 #treeWrap #rabbit1{
    position:absolute;
    width:82px;
    height:103px;
    background-image:url(./img/forest/forest1/rabbit1.png);
    margin:435px 0px 0px 107px;
    z-index:50;
}
#forest #forest1 #treeWrap #rabbit2{
    position:absolute;
    width:56px;
    height:75px;
    background-image:url(./img/forest/forest1/rabbit2.png);
    margin:435px 0px 0px 200px;
    z-index:25;
}

#forest #forest2{
    position:relative;
    width:100%;
    height:750px;
    background-image:url(./img/forest/forest2/forest2_bg.png);
}
#forest #forest2 #frog{
    position:absolute;
    width:153px;
    height:257px;
    background-image:url(./img/forest/forest2/frog.png);
    margin:50px 0px 0px 100px;
}
#forest #forest2 #machineWrap2{
    position:relative;
    width:400px;
    height:400px;
    top:180px;
    left:50%;
    margin-left:-180px;
}
#forest #forest2 #machineWrap2 #machinebottom{
    position:absolute;
    width:374px;
    height:162px;
    background-image:url(./img/forest/forest2/machinebottom.png);
    margin-top:220px;
    z-index:200;
}
#forest #forest2 #machineWrap2 #machineleft{
    position:absolute;
    width:123px;
    height:228px;
    background-image:url(./img/forest/forest2/machineleft.png);
    margin-top:30px;
    z-index:300;
}
#forest #forest2 #machineWrap2 #machineright{
    position:absolute;
    width:123px;
    height:248px;
    background-image:url(./img/forest/forest2/machineright.png);
    margin:10px 0px 0px 260px;
    z-index:300;
}
#forest #forest2 img{
    position:relative;
    top:-100px;
    float:right;
    margin-right:100px;
}
#forest #forest2 #forest2tree{
    position:relative;
    width:304px;
    height:282px;
    background-image:url(./img/forest/forest2/forest2tree.png);
    top:50px;
    float:left;
}

#forest #forest3{
    position:relative;
    width:100%;
    height:600px;
    background-image:url(./img/forest/forest3/forest3_bg.png);
}
#forest #forest3 #forest3Wrap{
    position:relative;
    width:354px;
    height:471px;
    top:100px;
    float:right;
}
#forest #forest3 #forest3Wrap #forest3tree{
    position:absolute;
    width:354px;
    height:471px;
    background-image:url(./img/forest/forest3/forest3tree.png);
}
#forest #forest3 #forest3Wrap #smallbird{
    position:absolute;
    width:40px;
    height:35px;
    background-image:url(./img/forest/forest3/bird_sm.png);
    margin:120px 0px 0px 125px;
}
#forest #forest3 #forest3Wrap #bigbird{
    position:absolute;
    width:83px;
    height:80px;
    background-image:url(./img/forest/forest3/bird_big.png);
    margin:280px 0px 0px 94px;
}

/********************
*** Science ***
*******************/
#science{
    position:relative;
    width:100%;
    height:800px;
    background-image:url(./img/science/science_bg.png);
}
#science #scienceWrap{
    position:relative;
    width:1066px;
    height:611px;
    left:50%;
    margin-left:-533px;
}

#science #scienceWrap #leftWrap{
    float:left;
}
#science #scienceWrap #leftWrap #gly{
    width:230px;
    height:192px;
    background-image:url(./img/science/gly.png);
    margin:0px 0px 130px 55px;
}
#science #scienceWrap #leftWrap p{
    color:#8E7577;
    font-size:18px;
    line-height:26px;
    padding-top:10px;
}

#science #scienceWrap #centerWrap{
    float:left; /* 중앙 서랍장을 왼쪽 서랍장 옆에 배치 */
}
#science #scienceWrap #centerWrap #grape{
    position:relative;
    width:241px;
    height:216px;
    background-image:url(./img/science/grape.png);
    left:50%;
    margin-left:-120px;
    z-index:100;
}
#science #scienceWrap #centerWrap #hopperback{
    position:absolute;  /* hopperback 영역이 hopperfront 영역 뒤에 배치되도록 hopperback 영역은 absolute, hopperfront 영역은 relative 속성값 적용 */
    width:488px;
    height:438px;
    background-image:url(./img/science/hopperback.png);
    margin-top:-45px;
}
#science #scienceWrap #centerWrap #hopperfront{
    position:relative;
    width:485px;
    height:390px;
    background-image:url(./img/science/hopperfront.png);
    margin-top:5px;
    margin-left:2px;
}

#science #scienceWrap #rightWrap{
    float:right;
}
#science #scienceWrap #rightWrap #water{
    width:204px;
    height:191px;
    background-image:url(./img/science/water.png);
    margin-bottom:130px;
}
#science #scienceWrap #rightWrap p{
    color:#8E7577;
    font-size:18px;
    line-height:26px;
    padding-top:10px;
}

/********************
*** Oneday ***
*******************/
#oneday #night1{
    position:relative;
    width:100%;
    height:700px;
    background-image:url(./img/oneday/night1/night1_bg.png);
}
#oneday #night1 #owl{
    position:absolute;
    width:334px;
    height:571px;
    background-image:url(./img/oneday/night1/owl.png);
    margin-top:50px;
}
#oneday #night1 #starWrap{
    position:relative;
    width:750px;
    height:400px;
    top:150px;
    margin-left:600px;
}
#oneday #night1 #starWrap #star1, #star2, #star3{
    position:absolute;
    width:53px;
    height:50px;
    background-image:url(./img/oneday/night1/star1.png);
}
#oneday #night1 #starWrap #star1{
    margin-top:350px;
}
#oneday #night1 #starWrap #star2{
    margin-left:650px;
}
#oneday #night1 #starWrap #star3{
    margin:250px 0px 0px 500px;
}

#oneday #night2{
    position:relative;
    width:100%;
    height:800px;
    background-image:url(./img/oneday/night2/night2_bg.png);
}
#oneday #night2 #moon{
    width:135px;
    height:135px;
    background-image:url(./img/oneday/night2/moon.png);
}
#oneday #night2 img{
    position:absolute;
    margin:300px 0px 0px 80px;
}
#oneday #night #moontree{
    position:absolute;
    width:243px;
    height:588px;
    background-image:url(./img/oneday/night2/moontree.png);
    right:0;
    bottom:0;
}

#oneday #morning{
    position:relative;
    width:100%;
    height:800px;
    background-image:url(./img/oneday/morning/morning_bg.png);
}
#oneday #morning #sun{
    width:131px;
    height:131px;
    background-image:url(./img/oneday/morning/sun.png);
}
#oneday #morning #leftpine{
    position:absolute;
    width:231px;
    height:329px;
    background-image:url(./img/oneday/morning/leftpine.png);
    top:270px;
}
#oneday #morning #rightpine{
    position:absolute;
    width:294px;
    height:609px;
    background-image:url(./img/oneday/morning/rightpine.png);
    right:0;
    bottom:0;
}